footer {
  background-color: #004C97;
  color: white;
  padding: 8px;
  text-align: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}

/* ======== NADVAR ======== */


nav {
        background-color: #004C97;
        color: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 2rem;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #ffffff;
    }

    .logo img {
        height: 30px;
    }

    .nav-links {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }

    .nav-links a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .nav-links a:hover {
        color: #0071ce;
    }

    .search-bar {
        position: relative;
    }

    .search-bar input {
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
        transition: all 0.3s ease;
    }

    .search-bar input:focus {
        border-color: #0071ce;
    }

    .search-bar i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
}
